# c109

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
 
from sklearn import tree

In [8]:
companyName1=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件1：123家有信贷记录企业的相关数据.xlsx')
companyName2=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件2：302家无信贷记录企业的相关数据.xlsx')

In [5]:
buy1=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件1：123家有信贷记录企业的相关数据.xlsx',sheet_name='进项发票信息')
sell1=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件1：123家有信贷记录企业的相关数据.xlsx',sheet_name='销项发票信息')

In [9]:
buy2=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='进项发票信息')
sell2=pd.read_excel('D:\\study-local\\数学建模\\2022国赛\\.github\\C\\附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='销项发票信息')

In [6]:
buy1

        企业代号      发票号码       开票日期  销方单位代号       金额      税额     价税合计  发票状态
0         E1   3390939 2017-07-18  A00297  -943.40  -56.60 -1000.00  有效发票
1         E1   3390940 2017-07-18  A00297 -4780.24 -286.81 -5067.05  有效发票
2         E1   3390941 2017-07-18  A00297   943.40   56.60  1000.00  有效发票
3         E1   3390942 2017-07-18  A00297  4780.24  286.81  5067.05  有效发票
4         E1   9902669 2017-08-07  A05061   326.21    9.79   336.00  有效发票
...      ...       ...        ...     ...      ...     ...      ...   ...
210942  E122  54706234 2019-04-17  A08967   223.30    6.70   230.00  有效发票
210943  E122  55721344 2020-01-10  A09184   264.15   15.85   280.00  有效发票
210944  E123  38493295 2017-12-15  A03624   264.15   15.85   280.00  有效发票
210945  E123  95472001 2018-12-29  A03626   264.15   15.85   280.00  有效发票
210946  E123  54469883 2019-12-18  A03626   264.15   15.85   280.00  有效发票

[210947 rows x 8 columns]

In [10]:
companyName1

     企业代号                 企业名称 信誉评级 是否违约
0      E1          ***电器销售有限公司    A    否
1      E2          ***技术有限责任公司    A    否
2      E3  ***电子(中国)有限公司***分公司    C    否
3      E4          ***发展有限责任公司    C    否
4      E5         ***供应链管理有限公司    B    否
..    ...                  ...  ...  ...
118  E119                ***药房    D    是
119  E120          ***陈列广告有限公司    D    是
120  E121     ***药业连锁有限公司***药店    D    是
121  E122          ***商贸有限责任公司    D    是
122  E123         ***创科技有限责任公司    D    是

[123 rows x 4 columns]

In [12]:
#select everything for variable
filtered=buy1[buy1['企业代号']=='E1']
filtered

     企业代号      发票号码       开票日期  销方单位代号       金额      税额     价税合计  发票状态
0      E1   3390939 2017-07-18  A00297  -943.40  -56.60 -1000.00  有效发票
1      E1   3390940 2017-07-18  A00297 -4780.24 -286.81 -5067.05  有效发票
2      E1   3390941 2017-07-18  A00297   943.40   56.60  1000.00  有效发票
3      E1   3390942 2017-07-18  A00297  4780.24  286.81  5067.05  有效发票
4      E1   9902669 2017-08-07  A05061   326.21    9.79   336.00  有效发票
...   ...       ...        ...     ...      ...     ...      ...   ...
3436   E1  48502381 2020-01-23  A10049   683.96   41.04   725.00  有效发票
3437   E1  78121064 2020-01-27  A03850  2894.34  173.66  3068.00  有效发票
3438   E1  49393086 2020-01-31  A06506  3656.64  475.36  4132.00  有效发票
3439   E1  36460836 2020-02-02  A00370   336.29   43.71   380.00  有效发票
3440   E1  37401763 2020-02-14  A00370   284.07   36.93   321.00  有效发票

[3441 rows x 8 columns]

In [13]:
type(buy1['开票日期'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
pivoted=buy1.pivot_table(index='开票日期',columns='企业代号',values='发票状态')
pivoted

d:\python3\anaconda\lib\site-packages\pandas\core\apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

Empty DataFrame
Columns: []
Index: [2016-10-04 00:00:00, 2016-10-08 00:00:00, 2016-10-10 00:00:00, 2016-10-12 00:00:00, 2016-10-13 00:00:00, 2016-10-14 00:00:00, 2016-10-17 00:00:00, 2016-10-18 00:00:00, 2016-10-19 00:00:00, 2016-10-21 00:00:00, 2016-10-22 00:00:00, 2016-10-24 00:00:00, 2016-10-25 00:00:00, 2016-10-26 00:00:00, 2016-10-27 00:00:00, 2016-10-28 00:00:00, 2016-10-30 00:00:00, 2016-10-31 00:00:00, 2016-11-01 00:00:00, 2016-11-02 00:00:00, 2016-11-03 00:00:00, 2016-11-04 00:00:00, 2016-11-05 00:00:00, 2016-11-06 00:00:00, 2016-11-07 00:00:00, 2016-11-08 00:00:00, 2016-11-09 00:00:00, 2016-11-10 00:00:00, 2016-11-11 00:00:00, 2016-11-12 00:00:00, 2016-11-14 00:00:00, 2016-11-15 00:00:00, 2016-11-16 00:00:00, 2016-11-17 00:00:00, 2016-11-18 00:00:00, 2016-11-19 00:00:00, 2016-11-20 00:00:00, 2016-11-21 00:00:00, 2016-11-22 00:00:00, 2016-11-23 00:00:00, 2016-11-24 00:00:00, 2016-11-25 00:00:00, 2016-11-26 00:00:00, 2016-11-28 00:00:00, 2016-11-29 00:00:00, 2016-11-30 00:00:00, 2016-12-01 00:00:00, 2016-12-02 00:00:00, 2016-12-03 00:00:00, 2016-12-04 00:00:00, 2016-12-05 00:00:00, 2016-12-06 00:00:00, 2016-12-07 00:00:00, 2016-12-08 00:00:00, 2016-12-09 00:00:00, 2016-12-10 00:00:00, 2016-12-11 00:00:00, 2016-12-12 00:00:00, 2016-12-13 00:00:00, 2016-12-14 00:00:00, 2016-12-15 00:00:00, 2016-12-16 00:00:00, 2016-12-17 00:00:00, 2016-12-18 00:00:00, 2016-12-19 00:00:00, 2016-12-20 00:00:00, 2016-12-21 00:00:00, 2016-12-22 00:00:00, 2016-12-23 00:00:00, 2016-12-24 00:00:00, 2016-12-25 00:00:00, 2016-12-26 00:00:00, 2016-12-27 00:00:00, 2016-12-28 00:00:00, 2016-12-29 00:00:00, 2016-12-30 00:00:00, 2016-12-31 00:00:00, 2017-01-02 00:00:00, 2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-07 00:00:00, 2017-01-08 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00, 2017-01-11 00:00:00, 2017-01-12 00:00:00, 2017-01-13 00:00:00, 2017-01-14 00:00:00, 2017-01-15 00:00:00, 2017-01-16 00:00:00, 2017-01-17 00:00:00, 2017-01-18 00:00:00, 2017-01-19 00:00:00, 2017-01-20 00:00:00, 2017-01-21 00:00:00, 2017-01-22 00:00:00, 2017-01-23 00:00:00, 2017-01-24 00:00:00, ...]

[1217 rows x 0 columns]

In [18]:
buy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210947 entries, 0 to 210946
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   企业代号    210947 non-null  object
 1   发票号码    210947 non-null  int64
 2   开票日期    210947 non-null  datetime64[ns]
 3   销方单位代号  210947 non-null  object
 4   金额      210947 non-null  float64
 5   税额      210947 non-null  float64
 6   价税合计    210947 non-null  float64
 7   发票状态    210947 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 12.9+ MB

In [19]:
buy1.describe()

               发票号码            金额            税额          价税合计
count  2.109470e+05  2.109470e+05  2.109470e+05  2.109470e+05
mean   2.702761e+07  4.655349e+04  6.345313e+03  5.289880e+04
std    2.730446e+07  5.612044e+05  8.880450e+04  6.494968e+05
min    1.720000e+02 -9.823009e+06 -1.452991e+06 -1.110000e+07
25%    5.077360e+06  2.051300e+02  1.379000e+01  2.240000e+02
50%    1.660680e+07  4.867300e+02  4.256000e+01  5.200000e+02
75%    4.311491e+07  8.640780e+03  2.912600e+02  9.480900e+03
max    9.999754e+07  9.999985e+06  1.699990e+06  1.169993e+07

In [22]:
buy1['企业代号'].array

<PandasArray>
[  'E1',   'E1',   'E1',   'E1',   'E1',   'E1',   'E1',   'E1',   'E1',
   'E1',
 ...
 'E122', 'E122', 'E122', 'E122', 'E122', 'E122', 'E122', 'E123', 'E123',
 'E123']
Length: 210947, dtype: object

In [ ]:
from operator import index


test=buy1.copy()
test.set_index(index)